@import url('https://fonts.cdnfonts.com/css/valorant');

body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    color: white;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#background-video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

section {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    text-align: left;
}

h1, h2 {
    font-family: 'VALORANT', sans-serif;
}

header {

    text-align: center;
    color: black;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: black;
    font-family: 'VALORANT';
    text-decoration: none;
    font-weight: bold;
}

a {
    color: crimson;
}

p {
    font-family: "Fira Code", serif;
}

/* Slideshow styles */
.project {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.project-content {
    flex: 1;
    margin-right: 20px;
}

.slideshow-container {
    flex: 1;
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.slideshow-container img {
    width: 100%; /* Ensures the image takes up the full width of the container */
    height: auto; /* Maintains the aspect ratio of the image */
    display: none; /* Hides all images by default */
    transition: opacity 0.5s ease-in-out;
}

.slideshow-container img.active {
    display: block; /* Shows the active image */
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px; /* Increased button size for better usability */
    cursor: pointer;
    z-index: 2;
    font-size: 18px; /* Adjust button size */
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
